import React from 'react';
import { {{pascalCase name}}Props } from './{{pascalCase name}}Props';
import styles from './{{pascalCase name}}.module.scss';

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ property }) => {
  return (
    <div>
      
    </div>
  );
}

export default {{pascalCase name}};
